@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&family=Roboto&display=swap');

/* FONTES DO PROJETO
font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
 */

body {
    background-color: #A69C94;
    font-family: 'Roboto', sans-serif;
    font-weight: 580;
    font-size: 22px;
}

header {
    background-color: #0D0D0D;
    color: #f0f8ff;
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: -3px -3px 4px 10px #00000080;
    z-index: 999;
}

nav {
    margin-top: auto;
    margin-bottom: 2%;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}

.ul-navigation li {
    display: inline-block;
    padding-right: 50px;
    margin: auto;
    text-align: center;

}

.ul-navigation li:last-child {
    padding-right: 0;

}

.ul-navigation a {
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(transparent 0%,
            transparent 90%,
            #f4eeea 90%,
            #f4eeea 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.ul-navigation a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

main {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    border: 2px solid #736965;
    background-color: #f4eeea;
    margin: auto;
    padding: 20px;
}

.sobre-mim {
    margin-top: 100px;
    width: 90%;
    text-align: left;
}

#foto-perfil {
    border-radius: 50%;
    margin-right: 60px;
    border: 2px solid #736965;
    margin-bottom: 10px;
}

.pefil-sobre-mim {
    float: left;
    padding-left: 40px;
}

.pefil-sobre-mim ul {
    display: inline-block;
}

.pefil-sobre-mim li {
    transition: 0.2s ease-in-out;
    width: 60px;
    display: inline-block;
}

.pefil-sobre-mim li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.sobre-mim h1 {
    margin: 20px 0 0 0;
    font-size: 50px;
    text-transform: uppercase;
    text-align: right;
}

.texto-sobre-mim {
    padding-left: 40px;
}

.texto-sobre-mim p {
    width: 80%;
    max-width: 800px;
    clear: both;
}

.progresso-github .container {
    text-align: center;
}

.progresso-github img {
    height: 39vh;
    margin: 10px;
}

.progresso-github img:hover {
    transform: scale(1.1);
}

.projetos {
    margin-top: 60px;
}

.projetos ul {
    margin-top: 60px;
    text-align: left;
    align-items: left;
}

.projetos li {
    display: inline-block;
    margin-right: 5px;
}


/* CSS para dispositivos móveis */

@media only screen and (max-width: 560px) {

    header{
        display: none;
    }

    .pefil-sobre-mim {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;



    }

    #foto-perfil {
        border-radius: 50%;
        margin-right: 0;
        border: 2px solid #736965;
        margin-bottom: 20px;
        

    }

    .sobre-mim h1 {
        margin: 20px 0 20px 0;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
    }

    .texto-sobre-mim {
        padding-left: 10%;
    }

    .texto-sobre-mim p {
        width: 100%;
        max-width: 100%;
        clear: both;
    }

    main {
        width: 100%;
        padding: 0;
        text-align: center;
        border-left: 0;
        border-right: 0;
    }

    nav {
        width: 100%;
    }

    .ul-navigation {
        font-size: 15px;
    }

    .ul-navigation li {
        padding-left: 25x;
        padding-right: 25px;
        padding-bottom: 5px;
    }

    .ul-navigation li:first-child {
        padding-left: 0;
    }

    .ul-navigation li:last-child {
        padding-left: 0;

    }

    .progresso-github img {
        height: 25vh;
        width: 50vh;
        margin-top: -1000px;
        margin: 0;
        position: relative;
    }

    .progresso-github img:hover{
        transform: scale(1.01);
    }

    .projetos {
        margin-top: 60px;
    }
    
    .projetos ul {
        margin-top: 60px;
        text-align: center;
        align-items: left;
    }
    
    .projetos li {
        display: inline-block;
        margin-right: 0;
        padding-bottom: 10px;
    }

    button{
        width: 210px;
        height: 50px;
    }
}