@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&family=Roboto&display=swap');

/*
font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
 */

body{
    background-color: #A69C94;
    font-family: 'Roboto', sans-serif;
    font-weight: 580;
    font-size: 22px;
}

header{
    background-color: #0D0D0D;
    color: #f0f8ff;
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    box-shadow: -3px -3px 4px 10px #00000080;
   
    
}

nav{
    margin-top: auto;
    margin-bottom: 2%;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
   
}



.ul-navigation li {
    display: inline-block;
    padding-right: 50px;
    margin: auto;
    text-align: center;
    
}

.ul-navigation li:last-child{
    padding-right: 0;
    
}

.ul-navigation a {
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        #f4eeea 90%,
        #f4eeea 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 300ms;
  
   
}

.ul-navigation a:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 90%;
    max-width: 1200px;
    border: 2px solid #736965;
    background-color: #f4eeea;
    margin: auto;
}

.sobre-mim{
    width: 90%;
    text-align: left;
    
}

#foto-perfil{
    
    border-radius: 50%;
    margin-right: 60px;
    border: 2px solid #736965;
    margin-bottom: 10px;
}

.pefil-sobre-mim li {
    width: 60px;
    display: inline-block;
}

.sobre-mim h1 {
    font-size: 50px;
    margin-bottom: 60px;

    text-transform: uppercase;
    
    text-align: right;

}

.texto-sobre-mim p{
    width: 80%;
    max-width: 800px;

}








@media only screen and (max-width: 560px) {

    main{
        width: 100%;
    }
    nav{
        width: 100%;
    }

    .ul-navigation{
        font-size: 15px;
    }

    .ul-navigation li {
      
        padding-left: 25x;
        padding-right: 25px;
        padding-bottom: 5px;
        
        
    }
    .ul-navigation li:first-child{
        padding-left: 0;
    }

    .ul-navigation li:last-child{
        padding-left: 0;
 
    }
  }
